<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
    <%- include('partial/header', {userId : userId}) %>
    
    <div class="columns box">
        <div class="column">
            <table class="table m-auto ">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Date of birth</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user=> { %>
                        <tr class="my-2">
                            <td>
                                <%= user.username %>
                            </td>
                            <td>
                                <%= user.name %>
                            </td>
                            <td>
                                <%= user.yob %>
                            </td>
                            <td>
                                <%= user.isAdmin ? "Admin" : "User" %>
                            </td>
                            
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
