<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('partial/header', {userId : userId}) %>


    <div class="field is-grouped">
          <input id="search" class="input" type="text" >
      </div>



    
        <div id="content-table" class="columns is-multiline is-mobile is-centered mt-5">
            <% players.forEach(player=> { %>
                <div class="column is-2-desktop is-one-fifth-tablet is-12-mobile mx-2" style="flex: 0 0 18%;">
                    <div class="card is-narrow">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="<%=player.image %>" alt="">
                            </figure>
                        </div>
                        <div class="card-content">

                            
                            <div class="media">
                                <div class="media-left">
                                  <figure class="image is-48x48">
                                    <img src="<%=player.nation%>" alt="Placeholder image">
                                  </figure>
                                </div>
                                <div class="media-content">
                                  <p class="title is-5"><%= player.name %></p>
                                </div>
                              </div>

                            <div class="content">
                                <p> <span class="title is-6">Club : </span>
                                    <%= player.club %>
                                </p>
                            </div>

                            <div class="content">
                                <p> <span class="title is-6">Position : </span>
                                    <%= player.position %>
                                </p>
                            </div>
                            <div class="content">
                                <p> <span class="title is-6">Goals : </span>
                                    <%= player.goals %>
                                </p>
                            </div>
                            <div class="content">
                                <p> <span class="title is-6">Captain : </span>
                                    <%= player.isCaptain ? 'Yes' : 'No' %>
                                </p>
                            </div>
                        </div>

                        <% if(userId){ %>
                            <% if(userId.isAdmin){ %>
                                <footer class="card-footer">
                                    <a class="card-footer-item button is-warning is-light" href=<%="/players/edit/" + player._id %>>Edit</a>
                                    <a class="card-footer-item button is-danger is-light" onclick="return confirm('Are you sure you want to delete this item?')" href=<%="/players/delete/" + player._id %>>Delete</a>
                                </footer>
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <% }); %>
        </div>
    
        <% if(userId){ %>
            <% if(userId.isAdmin){ %>
                <button class="button is-primary m-5 is-pulled-right" id="modal-button">Add new player</button>
            <% } %>
        <% } %>

        <!-- <button class="button is-primary m-5 is-pulled-right" id="modal-button">Add new player</button> -->

        <div class="modal" id="modal">
            <div class="modal-background"></div>
            <form class="box" method="post">
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Add Player</p>
                        <div class="delete modal-cancel-button" aria-label="close"></div>
                    </header>
                    <section class="modal-card-body">
                        <form>
                            <div class="field">
                                <label class="label">Name</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Name" name="name" required>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Nation</label>
                                <div class="control">
                                    <div class="select is-fullwidth is-link is-rounded">
                                        <select name="nation">
                                            <%for (let nation of nationList){ %>
                                                <option value="<%= nation.name %>">
                                                    <%= nation.name %>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Club</label>
                                <div class="control">
                                    <div class="select is-fullwidth is-link is-rounded">
                                        <select name="club">
                                            <%for (let club of clubList){ %>
                                                <option value="<%= club.name %>">
                                                    <%= club.name %>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Image</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Image URL" name="image" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Position</label>
                                <div class="control">
                                    <div class="select is-fullwidth is-link is-rounded">
                                        <select name="position">
                                            <%for (let position of positionList){ %>
                                                <option value="<%= position.name %>">
                                                    <%= position.name %>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Goals</label>
                                <div class="control">
                                    <input class="input" type="number" placeholder="Goals" name="goals" required>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input type="radio" value="true" id="captain" name="isCaptain">
                                    <label for="captain">True</label>
                                    <input type="radio" value="false" id="nonCaptain" name="isCaptain" checked>
                                    <label for="nonCaptain">False</label>
                                </div>
                            </div>
                        </form>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-success">Save</button>
                        <div class="button modal-cancel-button">Cancel</div>
                    </footer>
                </div>
            </form>
        </div>

        <script>
            $(document).on("keyup", "#search", function(){

                var q = $(this).val();
                console.log('du lieu nhap tu client: ' + q);
                $.ajax({
                    async: false,
                    type:'GET',
                    url: './players/search',
                    data: {q: q},
                    dataType: 'html',
                    success: function (response){
                        console.log(response);
                        $("#content-table").replaceWith(response);
                    },
                    error: function(){
                        alert('error');
                    }
                });
            });
            const modalButton = document.getElementById('modal-button');
            const modal = document.getElementById('modal');
            const modalCancelButton = document.querySelectorAll('.modal-cancel-button')

            modalButton.addEventListener('click', () => {
                modal.classList.add('is-active');
            });

            modalCancelButton.forEach(item => {
                item.addEventListener('click', () => {
                    modal.classList.remove('is-active');
                });
            })

            // function sendData(e){
            //     fetch('./players/search',{
            //         method: 'POST',
            //         headers: {'Content-Type': 'application/json'},
            //         body: JSON.stringify({playload: e.value})
            //     });
            // }

            
        </script>
</body>

</html>